<table class="table w-full border-collapse">
    <thead>
    <tr>
        <th>Ситуация</th>
        <th>Мысли</th>
        <th>Эмоции</th>
        <th>Реакция</th>
        <th>Ощущения в теле</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="border border-gray-700">
            <textarea-auto class="w-full block">
                <textarea appTextareaAuto placeholder="Опишите ситуацию" name="title" class="py-2 mb-1"></textarea>
            </textarea-auto>
        </td>
        <td class="border border-gray-700">
            <textarea-auto class="w-full block">
                <textarea appTextareaAuto placeholder="Опишите мысли" name="title" class="py-2 mb-1"></textarea>
            </textarea-auto>
        </td>
        <td class="border border-gray-700">
            <textarea-auto class="w-full block">
                <textarea appTextareaAuto placeholder="Опишите эмоции" name="title" class="py-2 mb-1"></textarea>
            </textarea-auto>
        </td>
        <td class="border border-gray-700">
            <textarea-auto class="w-full block">
                <textarea appTextareaAuto placeholder="Опишите реакцию" name="title" class="py-2 mb-1"></textarea>
            </textarea-auto>
        </td>
        <td class="border border-gray-700">
            <textarea-auto class="w-full block">
                <textarea appTextareaAuto placeholder="Опишите ощущения в теле" name="title" class="py-2 mb-1"></textarea>
            </textarea-auto>
        </td>
    </tr>
    </tbody>
</table>
