<div class="form pb-10">
    <div class="form-field mb-3">
        <label class="mb-4 font-medium">Ситуация</label>
        <textarea-auto class="w-full block">
            <textarea appTextareaAuto placeholder="Опишите ситуацию" name="title" class="py-2 mb-1"></textarea>
        </textarea-auto>
    </div>

    <div class="form-field mb-3">
        <label class="mb-4 font-medium">Мысли</label>
        <textarea-auto class="w-full block">
            <textarea appTextareaAuto placeholder="Опишите мысли" name="title" class="py-2 mb-1"></textarea>
        </textarea-auto>
    </div>
    <div class="form-field mb-3">
        <label class="mb-4 font-medium">Эмоции</label>
        <textarea-auto class="w-full block">
            <textarea appTextareaAuto placeholder="Опишите эмоции" name="title" class="py-2 mb-1"></textarea>
        </textarea-auto>
    </div>
    <div class="form-field mb-3">
        <label class="mb-4 font-medium">Реакция</label>
        <textarea-auto class="w-full block">
            <textarea appTextareaAuto placeholder="Опишите реакцию" name="title" class="py-2 mb-1"></textarea>
        </textarea-auto>
    </div>
    <div class="form-field mb-3">
        <label class="mb-4 font-medium">Ощущения в теле</label>
        <textarea-auto class="w-full block">
            <textarea appTextareaAuto placeholder="Опишите ощущения в теле" name="title" class="py-2 mb-1"></textarea>
        </textarea-auto>
    </div>

    <div class="flex justify-end">
        <button class="btn btn-primary mr-1">Сохранить</button>
        <button class="btn btn-ghost" (click)="close()">Закрыть</button>
    </div>
</div>




