<div class="month flex flex-col h-full">
    <header class="month-head py-2">
        <div class="justify-self-center self-center">пн</div>
        <div class="justify-self-center self-center">вт</div>
        <div class="justify-self-center self-center">ср</div>
        <div class="justify-self-center self-center">чт</div>
        <div class="justify-self-center self-center">пт</div>
        <div class="justify-self-center self-center">сб</div>
        <div class="justify-self-center self-center">вс</div>
    </header>

    <div class="month-days flex-1">
        <div *ngFor="let day of days" class="day-wrapper">
            <div class="day" [class.opacity-10]="!day.fromCurrentMonth">
                {{day.date.format('D')}}
            </div>
        </div>
    </div>
</div>

