

<div class="month flex h-full flex-col" [style.padding-bottom]="isIos ? '80px' : '0'">
    <h2 class="text-2xl font-medium text-center p-1">Календарь психа</h2>

    <div class="flex justify-center items-center py-2">
        <button class="btn btn-sm btn-ghost btn-circle" (click)="onPrev.emit()">
            <i class="fas fa-angle-left text-lg"></i>
        </button>
        <span class="text-lg font-bold px-1">{{month.format('MMMM YYYY')}}</span>
        <button class="btn btn-sm btn-ghost btn-circle" (click)="onNext.emit()">
            <i class="fas fa-angle-right text-lg"></i>
        </button>
    </div>

    <header class="month-head py-1">
        <div class="justify-self-center self-center font-semibold text-sm">пн</div>
        <div class="justify-self-center self-center font-semibold text-sm">вт</div>
        <div class="justify-self-center self-center font-semibold text-sm">ср</div>
        <div class="justify-self-center self-center font-semibold text-sm">чт</div>
        <div class="justify-self-center self-center font-semibold text-sm">пт</div>
        <div class="justify-self-center self-center font-semibold text-sm">сб</div>
        <div class="justify-self-center self-center font-semibold text-sm">вс</div>
    </header>

    <div class="month-days flex-1">
        <div *ngFor="let day of days" class="day-wrapper">
            <app-day
                [day]="day"
                [data]="data.get(day.date.toDate().getTime())"
                (click)="openDay(day)">
            </app-day>
        </div>
    </div>
</div>

