<form
    class="note-menu bg-base-200 p-6 pt-0 shadow-lg relative overflow-hidden overflow-y-scroll h-full"
    [formGroup]="form"
    *ngIf="note"
    [@slideInOut]
>
    <div class="flex justify-end items-center mb-2 sticky top-0 pt-1 bg-base-200">
        <button
            class="btn btn-ghost btn-sm"
            amTooltip="Сохранить"
            placement="bottom"
            (click)="saveNote()"
        >
            <i class="fas fa-save transition-colors"
               [class.text-warning]="form.touched">
            </i>
        </button>
        <button
            class="btn btn-ghost btn-sm"
            amTooltip="Удалить"
            placement="bottom"
            (click)="deleteNote()"
        >
            <i class="fas fa-trash text-error"></i>
        </button>
    </div>

    <textarea-auto class="w-full block">
        <textarea appTextareaAuto formControlName="title" class="text-xl py-2"></textarea>
    </textarea-auto>


    <div class="todos py-4">
        <h3 class="mb-2 opacity-90">
            <span>Подзадачи</span>
            <span
                class="text-xs opacity-80 pl-2"
                *ngIf="note.todos.length"
            >
                {{checkedTodos.length}}/{{note.todos.length}}
            </span>
        </h3>

        <div class="todo-form flex items-center pb-2 transition-all">
            <input
                #todoInput
                type="text"
                class="input input-ghost w-full"
                placeholder="Новая задача"
                (keyup.enter)="addTodo(todoInput)"
            >
            <button
                class="btn btn-ghost sidebar-btn ml-1"
                (click)="addTodo(todoInput)"
            >
                <span class="icon is-small">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="todo-list" cdkDropList [cdkDropListData]="todos" (cdkDropListDropped)="dropTodo($event)">
            <div *ngFor="let todo of todos, index as i" class="todo-box flex items-center" cdkDrag>
                <button class="btn btn-circle btn-sm btn-ghost cursor-move" cdkDragHandle>
                    <i class="fas fa-grip-vertical"></i>
                </button>
                <app-todo-item
                    [todo]="todo"
                    (onToggle)="completeTodo($event, todo)"
                    (onDelete)="deleteTodo(todo)"
                    (onChange)="updateTodo($event, todo)">
                </app-todo-item>
            </div>
        </div>

    </div>

    <div class="flex pt-4">
        <am-form-field class="w-full">
            <am-select
                [multiply]="true"
                formControlName="tags"
                [placeholder]="tags.length ? 'Тэги' : 'Созданных тэгов нет'"
            >
                <am-option
                    *ngFor="let tag of tags"
                    [value]="tag.id"
                >
                    {{tag.name}}
                </am-option>
            </am-select>
        </am-form-field>

        <button
            class="btn btn-ghost ml-1"
            amTooltip="Добавить тэг"
            placement="bottom"
            [amMenuTrigger]="menu"
            #menuTrigger="amMenuTrigger"
        >
            <i class="fas fa-plus"></i>
        </button>

        <am-menu-panel #menu="amMenu">
            <div class="create-tag px-2" style="width: 300px;" (click)="$event.stopPropagation()">
                <app-create-tag-form
                    (onCreate)="createTag($event); menuTrigger.close()">
                </app-create-tag-form>
            </div>
        </am-menu-panel>
    </div>


    <div class="form-control">
        <label class="label">
            <span class="label-text opacity-90">Описание заметки</span>
        </label>
        <div
            class="textarea min-h-16 leading-5"
            contenteditable
            formControlName="description"
            placeholder="...">
        </div>
    </div>
</form>
