<form
    class="note-menu bg-base-200 shadow-lg"
    [formGroup]="form"
    *ngIf="note"
>
    <div class="flex items-center mb-2">
        <button
            class="btn btn-ghost mr-1"
            amTooltip="Сохранить"
            placement="bottom"
            (click)="saveNote()"
        >
            <i class="fas fa-save text-xl transition-colors"
               [class.text-warning]="form.touched">
            </i>
        </button>
        <input type="text" class="input input-ghost w-full text-xl" formControlName="title">
    </div>

    <div class="todos py-4">
        <h3 class="text-lg mb-2">Подзадачи</h3>

        <div class="todo-form flex items-center pb-4">
            <button
                class="btn btn-ghost sidebar-btn mr-1"
                (click)="addTodo(todoInput)"
            >
                <span class="icon is-small">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </button>
            <input
                #todoInput
                type="text"
                class="input input-ghost w-full"
                placeholder="Новая задача"
                (keyup.enter)="addTodo(todoInput)"
            >
        </div>
        <div *ngFor="let todo of note.todos" class="todo w-full flex items-center justify-between px-2">
            <div class="flex items-center">
                <label class="cursor-pointer label mr-3" (click)="$event.stopPropagation()">
                    <input
                        #todoCheckbox
                        type="checkbox"
                        class="checkbox checkbox-accent checkbox-sm"
                        (change)="checkTodo(todoCheckbox.checked, todo)"
                        [checked]="todo.checked"
                    >
                </label>
                <span [class.line-through]="todo.checked">{{todo.title}}</span>
            </div>
            <button class="btn btn-circle btn-sm btn-ghost" (click)="deleteTodo(todo)">
                <i class="fas fa-trash text-error"></i>
            </button>
        </div>
    </div>

    <div class="flex items-center">
        <am-form-field class="w-full">
            <label><span class="text-lg">Тэги</span></label>
            <am-select
                [multiply]="true"
                formControlName="tags"
                [placeholder]="tags.length ? 'Тэги' : 'Созданных тэгов нет'"
            >
                <am-option
                    *ngFor="let tag of tags"
                    [value]="tag.id"
                >
                    {{tag.name}}
                </am-option>
            </am-select>
        </am-form-field>

        <button
            class="btn btn-ghost ml-1"
            amTooltip="Добавить тэг"
            placement="bottom"
            [amMenuTrigger]="menu"
            #menuTrigger="amMenuTrigger"
        >
            <i class="fas fa-plus"></i>
        </button>

        <am-menu-panel #menu="amMenu">
            <div class="create-tag px-2" style="width: 300px;" (click)="$event.stopPropagation()">
                <app-create-tag-form
                    (onCreate)="createTag($event); menuTrigger.close()">
                </app-create-tag-form>
            </div>
        </am-menu-panel>
    </div>


    <div class="form-control">
        <label class="label">
            <span class="label-text">Описание заметки</span>
        </label>
        <textarea
            class="textarea"
            placeholder="..."
            formControlName="description">
        </textarea>
    </div>
</form>
