<div
    [style.width.px]="width"
    class="h-full w-full overflow-hidden note-menu z-20"
    *ngIf="isOpen"
    [@slideInOut]
>
    <form
        class="p-4 sm:pt-0 pt-0 bg-base-200 shadow-lg relative overflow-y-scroll h-full w-full"
        [style.width.px]="width"
        [formGroup]="form"
        *ngIf="note"
    >
        <div class="flex justify-end items-center mb-2 sticky top-0 py-3 z-10 bg-base-200">
            <button
                class="btn btn-ghost btn-sm"
                amTooltip="Закрыть"
                placement="bottom"
                type="button"
                (click)="onClose.emit()"
            >
                <i class="fas fa-chevron-right"
                   [class.text-warning]="form.touched">
                </i>
            </button>

            <div class="flex-1"></div>

            <button
                class="btn btn-ghost btn-sm"
                amTooltip="Сохранить"
                placement="bottom"
                (click)="saveNote()"
            >
                <i class="fas fa-save transition-colors"
                   [class.text-warning]="form.touched">
                </i>
            </button>
            <button
                class="btn btn-ghost btn-sm"
                amTooltip="Удалить"
                placement="bottom"
                (click)="deleteNote()"
            >
                <i class="fas fa-trash text-error"></i>
            </button>
        </div>

        <textarea-auto class="w-full block">
            <textarea appTextareaAuto formControlName="title" class="text-xl py-2 mb-1"></textarea>
        </textarea-auto>

        <div class="form-control">
            <div
                class="textarea textarea-ghost p-1 max-w-xl leading-5"
                contenteditable
                formControlName="description"
                placeholder="...">
            </div>
        </div>


        <div class="todos py-4 max-w-lg">
            <h3 class="mb-2 opacity-90">
                <span>Подзадачи</span>
                <span
                    class="text-xs opacity-80 pl-2"
                    *ngIf="note.todos.length"
                >
                    {{checkedTodos.length}}/{{note.todos.length}}
                </span>
            </h3>
            <div class="todo-form flex items-center pb-2 transition-all">
                <button
                    class="btn btn-ghost mr-1"
                    (click)="addTodo(todoInput)"
                >
                    <span class="icon is-small">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </button>
                <input
                    #todoInput
                    type="text"
                    class="input input-ghost w-full"
                    placeholder="Новая подзадача"
                    (keyup.enter)="addTodo(todoInput)"
                >

            </div>
            <div class="todo-list pl-2"
                 cdkDropList
                 [cdkDropListData]="todos"
                 (cdkDropListDropped)="dropTodo($event)"
            >
                <div
                    *ngFor="let todo of todos, index as i"
                    class="todo-box w-full flex items-center"
                    cdkDrag
                >
                    <button class="btn btn-circle btn-sm btn-ghost cursor-move" cdkDragHandle>
                        <i class="fas fa-grip-vertical"></i>
                    </button>
                    <app-todo-item
                        class="flex-1"
                        [todo]="todo"
                        (onToggle)="completeTodo($event, todo)"
                        (onDelete)="deleteTodo(todo)"
                        (onChange)="updateTodo($event, todo)">
                    </app-todo-item>
                </div>
            </div>
        </div>

        <div class="tags overflow-hidden">
            <h3 class="mb-2 opacity-90">
                <span>Тэги</span>
            </h3>
            <div class="flex">
                <button
                    class="btn btn-ghost mr-1"
                    amTooltip="Создать новый тэг"
                    placement="bottom"
                    [amMenuTrigger]="menu"
                    #menuTrigger="amMenuTrigger"
                >
                    <i class="fas fa-plus"></i>
                </button>

                <am-form-field class="block w-full">
                    <am-select
                        style="width: 100%; overflow: hidden;"
                        [multiply]="true"
                        formControlName="tags"
                        [placeholder]="tags.length ? 'Тэги' : 'Созданных тэгов нет'"
                    >
                        <am-option
                            *ngFor="let tag of tags"
                            [value]="tag.id"
                        >
                            {{tag.name}}
                        </am-option>
                    </am-select>
                </am-form-field>

                <am-menu-panel #menu="amMenu">
                    <div class="create-tag py-2 p-4" style="width: 300px;" (click)="$event.stopPropagation()">
                        <app-create-tag-form
                            (onCreate)="createTag($event); menuTrigger.close()">
                        </app-create-tag-form>
                    </div>
                </am-menu-panel>
            </div>
        </div>
    </form>
</div>
