<div class="note-menu w-full overflow-hidden z-20">
    <form
        class="sm:pt-0 pt-0 shadow-lg relative bg-base-200 overflow-y-scroll h-full w-full"
        [style.width.px]="width"
        *ngIf="note"
    >
        <textarea-auto class="w-full block">
            <textarea appTextareaAuto [(ngModel)]="note.title" name="title" class="text-xl py-2 mb-1"></textarea>
        </textarea-auto>

        <div class="form-control">
            <div
                class="textarea textarea-ghost p-1 max-w-xl leading-5"
                contenteditable
                [(ngModel)]="note.description"
                name="description"
                placeholder="...">
            </div>
        </div>

        <div class="todos py-4">
            <h3 class="mb-2 opacity-90">
                <span>Подзадачи</span>
                <span
                    class="text-xs opacity-80 pl-2"
                    *ngIf="note.todos.length"
                >
                    {{checkedTodos.length}}/{{note.todos.length}}
                </span>
            </h3>
            <div class="todo-form flex items-center pb-2 transition-all">
                <button
                    class="btn btn-ghost mr-1"
                    (click)="addTodo(todoInput)"
                >
                    <span class="icon is-small">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </button>
                <input
                    #todoInput
                    type="text"
                    class="input input-ghost w-full"
                    placeholder="Новая подзадача"
                    (keyup.enter)="addTodo(todoInput)"
                >

            </div>
            <div
                class="todo-list pl-2"
                cdkDropList
                [cdkDropListData]="todos"
                (cdkDropListDropped)="dropTodo($event)"
            >
                <div
                    *ngFor="let todo of todos, index as i"
                    class="todo-box w-full flex items-center"
                    cdkDrag
                >
                    <button class="btn btn-circle btn-sm btn-ghost cursor-move" cdkDragHandle>
                        <i class="fas fa-grip-vertical"></i>
                    </button>
                    <ng-container *ngIf="note.todos[i]">
                        <app-todo-item
                            class="flex-1"
                            [todo]="todo"
                            (onToggle)="completeTodo($event, todo)"
                            (onDelete)="deleteTodo(todo)"
                            (onChange)="updateTodo($event, todo)">
                        </app-todo-item>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="tags pb-2">
            <h3 class="mb-2 opacity-90">
                <span>Тэги</span>
            </h3>
            <div class="flex pr-1">
                <button
                    class="btn btn-ghost mr-1"
                    amTooltip="Создать новый тэг"
                    placement="bottom"
                    [amMenuTrigger]="menu"
                    #menuTrigger="amMenuTrigger"
                >
                    <i class="fas fa-plus"></i>
                </button>


                <ng-container *ngIf="tags$ | async as tags">
                    <input
                        type="text"
                        class="w-full input-ghost"
                        name="tagControl"
                        placeholder="Выбрать тэг"
                        amInput
                        [formControl]="tagSearchControl"
                        (onOptionCheck)="onCheckTag($event)"
                        [amAutocomplete]="auto"
                    >

                    <am-autocomplete-panel #auto="autocompletePanel">
                        <am-option *ngFor="let tag of tags | searchTag:tagSearchControl.value" [value]="tag">
                            <span [ngClass]="'text-' + tag.color?.type">{{tag.name}}</span>
                        </am-option>
                    </am-autocomplete-panel>
                </ng-container>


                <am-menu-panel #menu="amMenu">
                    <div class="create-tag py-2 p-4" style="width: 300px;" (click)="$event.stopPropagation()">
                        <app-create-tag-form
                            (onCreate)="createTag($event); menuTrigger.close()">
                        </app-create-tag-form>
                    </div>
                </am-menu-panel>
            </div>

            <div class="tag-list p-1 my-2">
                <div class="tag-badge" *ngFor="let tag of note.tags">
                    <button class="btn btn-sm btn-ghost btn-circle" (click)="removeTag(tag)">
                        <i class="fas fa-times text-error"></i>
                    </button>
                    <span [ngClass]="'text-' + tag.color?.type">
                        {{tag.name}}
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
