@import "src/styles/vars";

.note {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr auto;

  &-meta-item {
    display: inline-flex;
    align-items: center;

    &:before {
      content: '•';
      padding: 0 4px;
    }
  }

  &-data {
    display: grid;
    grid-template-columns: minmax(auto, 120px) 1fr;
    align-items: center;
  }
}
