.group {
  flex: 1;
  padding: 15px;

  &-page {
    display: flex;
    height: 100%;
  }
}

.note {
  &-meta-item {
    &:not(:last-child):after {
      content: '•';
      padding: 0 4px;
    }
  }
}
