<div class="group-page">
    <div class="group" *ngIf="group">
        <h2 class="text-2xl mb-4">{{group.title}}</h2>

        <app-create-note-form
            (onCreateNote)="createNote($event)">
        </app-create-note-form>

        <div class="notes">
            <div class="card shadow" *ngFor="let note of group.notes" (click)="checkNote(note)">
                <div class="card-body">
                    <div class="card-title mr-10">
                        <h4>{{note.title}}</h4>
                        <span class="badge badge-primary" *ngFor="let tag of note.tags">
                            {{tag.name}}
                        </span>
                        <br>
                        <p class="text-xs" [innerHTML]="note.description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="checkedNote$ | async as note">
        <app-group-page-menu
            [@slideInOut]
            [note]="note"
            [tags]="(tags$ | async) || []"
            (onUpdateNote)="updateNote($event)"
        >
        </app-group-page-menu>
    </ng-container>
</div>
