<div class="group-page">
    <div class="group overflow-hidden flex flex-col" *ngIf="group">
        <textarea-auto>
            <textarea
                appTextareaAuto
                class="text-2xl mb-4 py-2 hover:bg-base-200"
                (blur)="updateGroup(control.value)"
                [formControl]="control"
            ></textarea>
        </textarea-auto>

        <div class="mb-2">
            <app-create-note-form
                (onCreateNote)="createNote($event)">
            </app-create-note-form>
        </div>

        <div class="overflow-y-scroll h-full">
            <div
                class="note-list"
                cdkDropList
                [cdkDropListData]="activeNotes"
                (cdkDropListDropped)="dropNote($event)"
            >
                <div class="note-box overflow-x-hidden hover:bg-base-200 p-2 mb-2 flex items-center w-full"
                     *ngFor="let note of activeNotes"
                     cdkDrag
                     [class.bg-base-200]="(checkedNote$ | async)?.id === note.id"
                     [class.shadow-lg]="(checkedNote$ | async)?.id === note.id"
                >
                    <button class="btn btn-circle btn-sm btn-ghost cursor-move" cdkDragHandle>
                        <i class="fas fa-grip-vertical"></i>
                    </button>
                    <app-note-item
                        class="w-full"
                        [note]="note"
                        [checked]="(checkedNote$ | async)?.id === note.id"
                        (onChecked)="onCompleteNote(note, $event)"
                        (onDelete)="deleteNote(note)"
                        (click)="checkNote(note)">
                    </app-note-item>
                </div>
            </div>


            <ng-container *ngIf="completedNotes.length">
                <h3 class="text-lg mb-2">Завершенные</h3>
            </ng-container>

            <div
                class="note-list"
                cdkDropList
                [cdkDropListData]="completedNotes"
                (cdkDropListDropped)="dropNote($event)"
            >
                <div
                    class="note-box hover:bg-base-200 p-2 mb-2 flex items-center w-full"
                    *ngFor="let note of completedNotes"
                    [class.bg-base-200]="(checkedNote$ | async)?.id === note.id"
                    [class.shadow-lg]="(checkedNote$ | async)?.id === note.id"
                    cdkDrag
                >
                    <button class="btn btn-circle btn-sm btn-ghost cursor-move" cdkDragHandle>
                        <i class="fas fa-grip-vertical"></i>
                    </button>
                    <app-note-item
                        class="flex-1"
                        [note]="note"
                        (onChecked)="onCompleteNote(note, $event)"
                        (onDelete)="deleteNote(note)"
                        (click)="checkNote(note)">
                    </app-note-item>
                </div>
            </div>
        </div>
    </div>

    <app-group-page-menu
        [note]="checkedNote$ | async"
        [tags]="(tags$ | async) || []"
        (onUpdateNote)="updateNote($event)"
        (onDeleteNote)="deleteNote($event)">
    </app-group-page-menu>
</div>
