<div class="todo w-full flex items-center justify-between" *ngIf="todo">
    <div class="flex w-full items-center">
        <label class="cursor-pointer label mr-2" (click)="$event.stopPropagation()">
            <input
                #todoCheckbox
                type="checkbox"
                class="checkbox checkbox-accent checkbox-sm"
                (change)="onToggle.emit(todoCheckbox.checked)"
                [checked]="todo.checked"
            >
        </label>

        <textarea-auto class="flex-1">
            <textarea
                appTextareaAuto
                [formControl]="control"
                (blur)="changeEmit(control.value)"
            >{{todo.title}}</textarea>
        </textarea-auto>
    </div>
    <button class="btn btn-circle btn-sm btn-ghost" (click)="onDelete.emit(todo)">
        <i class="fas fa-trash text-error"></i>
    </button>
</div>
